@model SportWiz66.Models.Order

@{ ViewData["Title"] = "Edit Order"; }


<section class="checkout_area section_padding">
    <div class="container">
        <h4>Edit Order Details</h4>
        <hr />
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8" style="background:#f7f7f7;">
                    <br />
                    <i style="font-size:14px; color: #415094; font-weight: 500;">Edit Order Details</i>

                    <form id="DetailsForm" class="row contact_form" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="OrderDate" />
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="NumOfItems" />
                        <div class="col-md-12 form-group">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="FirstName" class="form-control" placeholder="First name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="LastName" class="form-control" placeholder="Last name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="StreetAddress" class="form-control" placeholder="Adress line">
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="City" class="form-control" placeholder="Town/City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="ZipCode" class="form-control" placeholder="Zip code*">
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                        </div>
                        <div class="col-md-4 form-group p_star">
                            <select asp-for="Country" class="country_select">
                                <option value="Israel">Israel</option>
                                <option value="USA">Untied States</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group p_star">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="CreditCardNum" class="form-control" placeholder="Credit Card Number*">
                            <span asp-validation-for="CreditCardNum" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group p_star">
                        </div>
                        <div class="col-md-4 form-group p_star">
                            <select asp-for="Status" class="form-control" asp-items="@ViewBag.Status"></select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                        </div>
                        <div class="col-md-4 form-group p_star">
                            <input asp-for="TotalPrice" class="form-control" placeholder="Total Price*">
                            <span asp-validation-for="TotalPrice" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>





            </div>
        </div>
    </div>
</section>

