@{ ViewData["Title"] = "Home Page"; }
<!-- CSS here -->

<body>
    <script> /*Facebook Api*/
    window.fbAsyncInit = function () {
            FB.init({
                appId: '517523466079674',
                cookie: true,
                xfbml: true,
                version: 'v10.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));}</script> @*End of Facebook API*@

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=517523466079674&autoLogAppEvents=1" nonce="deshS7QV"></script>

    @*<div style="position:absolute;top:117px;right:0px;" class="fb-save" data-uri="https://www.instagram.com/facebook/" data-size="small"></div>
        <div id="fb-root"></div>*@
    @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=517523466079674&autoLogAppEvents=1" nonce="vZFxsSdJ"></script>
        <div style="position:fixed;top:95px;left:0px;" class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
        <div id="fb-root"></div>*@
    <div id="fb-root"></div>
    @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=517523466079674&autoLogAppEvents=1" nonce="B03n3yQY"></script>
        <div style="position:absolute;left:0px;top:140px;width:80px;height:40px;" class="fb-post" data-href="https://www.facebook.com/sport.wiz.9/posts/112349031027230" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/sport.wiz.9/posts/112349031027230" class="fb-xfbml-parse-ignore"><p>Welcome to our new store!</p>Posted by <a href="https://www.facebook.com/sport.wiz.9">Sport Wiz</a> on&nbsp;<a href="https://www.facebook.com/sport.wiz.9/posts/112349031027230">Sunday, May 16, 2021</a></blockquote></div>*@
    <!-- Preloader Start -->
    <main>

        <!-- slider Area Start -->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height" data-background="assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                                <div class="hero__img1" data-animation="bounceIn" data-delay=".4s">
                                    <img src="~/images/Men1.jpeg" alt=""> @*First picture at home page*@
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay=".4s" id="offers">Special Offers</span>
                                <h1 data-animation="fadeInRight" data-delay=".6s">Summer <br> Collection</h1> @*Need to chang every season*@
                                <p data-animation="fadeInRight" data-delay=".8s">Best Cloth Collection By 2021</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                    <a href="/Products" class="btn hero-btn">Shop Now</a> @*direct to the store command*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height" data-background="assets/img/hero/h1_hero.jpg">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="~/images/Woman1.jpeg" alt=""> @*Second picture at home page*@
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay=".4s">40% Discount</span>
                                <h1 data-animation="fadeInRight" data-delay=".6s">Summer <br> Collection</h1> @*Season update*@
                                <p data-animation="fadeInRight" data-delay=".8s">Best Cloth Collection By 2021!</p> @*collection's year*@
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                    <a asp-action="Index" asp-controller="Products" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
        <!-- slider Area End-->
        <!-- Category Area Start-->

        <section class="category-area section-padding30">
            <div>
                @*Facebook post*@
                <div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=517523466079674&autoLogAppEvents=1" nonce="B03n3yQY"></script> @*Post from Facebook*@
                    <div @*style="position:absolute;left:0px;top:140px;width:80px;height:40px;"*@ class="fb-post" data-href="https://www.facebook.com/sport.wiz.9/posts/112349031027230" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/sport.wiz.9/posts/112349031027230" class="fb-xfbml-parse-ignore"><p>Welcome to our new store!</p>Posted by <a href="https://www.facebook.com/sport.wiz.9">Sport Wiz</a> on&nbsp;<a href="https://www.facebook.com/sport.wiz.9/posts/112349031027230">Sunday, May 16, 2021</a></blockquote></div>
                </div>@*End of Facebook post*@
                @*youtube video*@
                <div>

                    <iframe width="340" height="260" src="https://www.youtube.com/embed/EykWcFEtFqo?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer;autoplay;clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
                </div>@*End of youtube video*@
            </div>
            <div class="container-fluid">
                <!-- Section Tittle -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <h2 style="color:gold;text-decoration:underline;">Our Brands:</h2> @* Another Home subheading (Brands)*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <img src="~/images/betterbodies/logo.png" alt=""> @*Brand Logo image*@
                                <div class="category-caption">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img text-center">
                                <img src="~/images/gasp/logo.jpg" alt="">@*Brand Logo image*@
                                <div class="category-caption">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <img src="~/images/nike/logo.jpg" alt="">
                                <div class="category-caption">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Category Area End-->
        <!-- Best Product Start -->
        <!-- Best Product End-->
        <!-- Best Collection Start -->
        <div class="best-collection-area section-padding2">
            <div class="container">
                <div class="row d-flex justify-content-between align-items-end">
                    <!-- Left content -->


                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="best-left-cap">
                            <h2>Best Collection of This Month</h2>
                            <p>Designers who are interesten crea.</p>
                            <a asp-action="Index" asp-controller="Products" class="btn shop1-btn">Shop Now</a>
                        </div>
                        <div class="best-left-img mb-30 d-none d-sm-block">
                            <img src="assets/img/collection/collection1.png" alt="">
                        </div>
                    </div>
                    <!-- Mid Img -->
                    <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                        <div class="best-mid-img mb-30 ">
                            <img src="assets/img/collection/collection2.png" alt="">
                        </div>
                    </div>
                    <!-- Riht Caption -->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="best-right-cap ">
                            <div class="best-single mb-30">
                                <div class="single-cap">
                                    <h4>Menz Winter<br> Jacket</h4>
                                </div>
                                <div class="single-img">
                                    <img src="assets/img/collection/collection3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="best-right-cap">
                            <div class="best-single mb-30">
                                <div class="single-cap active">
                                    <h4>Mens Winter<br>Jacket</h4>
                                </div>
                                <div class="single-img">
                                    <img src="assets/img/collection/collection4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="best-right-cap">
                            <div class="best-single mb-30">
                                <div class="single-cap">
                                    <h4>Mens Winter<br> Jacket</h4>
                                </div>
                                <div class="single-img">
                                    <img src="assets/img/collection/collection5.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Best Collection End -->

    </main>

</body>


@section Scripts{
    <script src="~/js/country.js"></script>
}
