@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>

<p>The privacy and security of your data is important to SportWiz. </p>
<p>
    We use digital and physical security and process controls to protect your data.
    We encrypt and anonymize data where we can and it makes sense.
</p>
<p>
    Even inside our company, we limit access to your data as much as we can and where it makes sense.
    We need your help to keep your data safe! When you make an account, we ask you to pick a password.
</p>
<p>
    If you give a friend your password, it is much harder for us to keep your data safe.
    You also should not use the same password across multiple websites or apps.
    That makes your data much less safe, and it’s very hard for us to protect you from someone else’s breach..
</p>
