@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- CSS here -->
<link rel="stylesheet" href="~/css/twitter.css">

<blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">just setting up my twittr</p> <a href="https://twitter.com/SportWiz6?ref_src=twsrc%5Etfw">March 21, 2006</a>
</blockquote>